---
- name: Run one task per host based on v_method
  hosts: all
  gather_facts: true  # to get ansible_hostname; you can set false and use `hostname` command instead

  tasks:
    - name: Show free disk space
      ansible.builtin.command: "df -h"
      register: results
      changed_when: false
      when:     
        - v_method is defined
        - v_method == 'disk'


    - name: Print hostname
      ansible.builtin.command: "hostname"
      register: results
      changed_when: false
      when:       
        - v_method is defined
        - v_method == 'name'


    # Optional: show what was executed (for clarity)
    - name: Summary (only for hosts with v_method)
      ansible.builtin.debug:
        msg: >-
          {{ ansible_hostname }} ran method={{ v_method }} and results are {{ results }}

