---
- name: Run one task per host based on v_method
  hosts: all
  gather_facts: true  # to get ansible_hostname; you can set false and use `hostname` command instead

  tasks:
    - name: Show free disk space
      ansible.builtin.command: "df -h"
      register: disk_out
      changed_when: false
      when:     
        - v_method is defined
        - v_method == 'disk'


    - name: Print disk result (only if disk task ran)
      ansible.builtin.debug:
        msg: |
          {{ inventory_hostname }} (v_method=disk)
          --- df -h output ---
          {{ disk_out.stdout }}
      when:
        - v_method is defined
        - v_method == 'disk'

    - name: Print hostname
      ansible.builtin.command: "hostname"
      register: hostname_out
      changed_when: false
      when:       
        - v_method is defined
        - v_method == 'name'


    - name: Print hostname
      ansible.builtin.debug:
        msg: "{{ inventory_hostname }} (v_method=name) -> Hostname: {{ hostname_out }}"
      when:
        - v_method is defined
        - v_method == 'name'


