---
- name: Run one task per host based on v_method
  hosts: all
  serial: 1
  gather_facts: true

  tasks:
    - name: ACTION [ {{ v_operation }} ].... WITH [ {{ v_SG }} ] .... ON [ {{ v_hostname }} ]
#      shell: "/opt/VRTS/bin/hagrp -state | grep -i '{{ v_SG }}' | grep -i '{{ ansible_hostname }}'"
      shell: "/opt/VRTS/bin/hagrp -{{ v_operation }} v_SG -sys {{ v_hostname }} | grep -i '{{ v_SG }}'"
      register: t1_output
      changed_when: false
      ignore_errors: true
      when:
        - v_method is defined
        - v_method == 'HA_hagrp'


    - name: STATUS OF [ {{ v_SG  }} ]
      shell: "/opt/VRTS/bin/hagrp -state | grep -i '{{ v_SG }}'"
      register: t1_output
      changed_when: false
      ignore_errors: true
      when:
        - v_method is defined
        - v_method == 'HA_hagrp'
    - name: RESULTS [ {{ v_SG  }} ]   
      ansible.builtin.debug:
        msg: |
          {{ t1_output.stdout_lines }}
      when:
        - v_method is defined
        - v_method == 'HA_hagrp'
